# Example PADRING configuration file
# 
# Copyright Symbiotic EDA GmbH 2019
# Niels Moseley - niels@symbioticeda.com
#

# Set the design name
DESIGN mypadring;

# Define the total chip area in microns
AREA 2200 2200; 

# Placement grid size in microns
GRID 1;

# Place the corners
# Corner <instance name> <location> <cell name> ;


CornerA Corner_1 SE Corner;
CornerB Corner_2 SW Corner;
CornerC Corner_3 NE Corner;
CornerD Corner_4 NW Corner;

# Define the north edge of the pad ring
# PAD <instance name> <location> [FLIP] <cell name> ;
#
# SPACE <microns> : use fixed space between preceding and succeeding cell.
#

# north side is occupied by an 8-bit bus control interface
PAD GPIO[0] N IOPadInOut ;
PAD GPIO[1] N IOPadInOut ;
PAD GPIO[2] N IOPadInOut ;
PAD GPIO[3] N IOPadInOut ;
PAD GPIO[4] N FLIP IOPadInOut ; # flipped in the y axis
PAD GPIO[5] N FLIP IOPadInOut ; # flipped in the y axis
PAD GPIO[6] N FLIP IOPadInOut ; # flipped in the y axis
PAD GPIO[7] N FLIP IOPadInOut ; # flipped in the y axis

# Define the south edge of the pad ring
# which has the clock, reset, SPI and UART

PAD CLK   S IOPadInOut ;
PAD RESET S IOPadInOut ;
PAD MISO  S IOPadInOut ;
PAD MOSI  S IOPadInOut ;
PAD SCK   S IOPadInOut ;
PAD SPI_CS_N S IOPadInOut ;
PAD UART_TX S FLIP IOPadInOut ;
PAD UART_RX S FLIP IOPadInOut ;

# Define the east edge of the pad ring
# Power and some PWM pins

PAD PWM_1 E IOPadInOut;
PAD PWM_2 E IOPadInOut; 
PAD VDD_1 E IOPadVdd;
SPACE 0 ;               # force the space between VDD_1 and GND_1 to zero.
PAD GND_1 E IOPadVss;
PAD PWM_3 E FLIP IOPadInOut;
PAD PWM_4 E FLIP IOPadInOut;

# Define the west edge of the pad ring
# DAC outputs and power.
PAD DAC_0 W IOPadInOut;
PAD DAC_1 W IOPadInOut; 
PAD VDD_2 W IOPadVdd;
SPACE 0 ;               # force the space between VDD_2 and GND_2 to zero.
PAD GND_2 W IOPadVss;
PAD DAC_2 W FLIP IOPadInOut;
PAD DAC_3 W FLIP IOPadInOut;
