[submodule "tools/yosys"]
	path = tools/yosys
	url = ../../The-OpenROAD-Project/yosys.git
[submodule "tools/OpenROAD"]
	path = tools/OpenROAD
	url = ../OpenROAD.git
[submodule "tools/yosys-slang"]
	path = tools/yosys-slang
	url = https://github.com/povik/yosys-slang.git
