[submodule "tools/yosys"]
	path = tools/yosys
	url = ../yosys.git
[submodule "tools/OpenROAD"]
	path = tools/OpenROAD
	url = ../OpenROAD.git
[submodule "tools/LSOracle-Plugin"]
	path = tools/LSOracle-Plugin
	url = git@github.com:lnis-uofu/LSOracle-Plugin.git
