#SAMPLE INPUT FILE; VALUES NOT REALISTIC
{
  # The process node.
  "tech_nm": 7,

  # The operating voltage.
  "voltage": 0.7,

  # String to add in front of every metal layer number for the layer name.
  "metal_prefix": "M",

  # Horizontal Metal layer for macro pins
  "metal_layer": "M4",
 
  # The pin width for signal pins.
  "pin_width_nm": 24,

  # The minimum pin pitch for signal pins 
  "pin_pitch_nm": 48,

  # Metal track pitch  
  "metal_track_pitch_nm": 48, 

  # Manufacturing Grid 
  "manufacturing_grid_nm": 1,

  # Contacted Poly Pitch
  "contacted_poly_pitch_nm": 54,

  #column mux factor
  "column_mux_factor": 1,

  # Fin pitch
  "fin_pitch_nm" : 27,

  # Optional snap the width and height of the sram to a multiple value.
  "snap_width_nm":  190,
  "snap_height_nm": 1200,

  # List of SRAM configurations (name width depth and banks)
  "srams": [ 
    {"name": "fakeram7_64x28",  "width":  28, "depth":  64, "banks": 4},
    {"name": "fakeram7_128x64", "width":  64, "depth": 128, "banks": 2},
    {"name": "fakeram7_64x25",  "width":  25, "depth":  64, "banks": 4},
    {"name": "fakeram7_64x256", "width": 256, "depth":  64, "banks": 1,
    "additional_height": 25}
  ]
  
  # TENTATIVE PARAMETERS 
}
