ray[default,tune]==2.58.0
ax-platform<=1.2.1,>=1.2.1
hyperopt==0.3.0
optuna==4.9.0
pandas<=2.3.3,>=2.3.3
bayesian-optimization==3.3.0
colorama==0.4.6
tensorboard>=2.21.0
protobuf>=7.36.0
SQLAlchemy==2.0.52
urllib3>=2.7.0
matplotlib==3.10.9
pyyaml==6.0.3
