name: Test DependencyInstaller script
on:
  schedule:
  - cron: "0 8 * * SUN"
  push:
    paths:
      - 'etc/DependencyInstaller.sh'
      - 'etc/DockerHelper.sh'
      - '.github/workflows/github-actions-cron-test-installer.yml'
      - 'build_openroad.sh'
      - 'env.sh'
      - 'flow/Makefile'
  pull_request:
    paths:
      - 'etc/DependencyInstaller.sh'
      - 'etc/DockerHelper.sh'
      - '.github/workflows/github-actions-cron-test-installer.yml'
      - 'build_openroad.sh'
      - 'env.sh'
      - 'flow/Makefile'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  testInstaller:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu20.04", "ubuntu22.04"]
    runs-on: ${{ vars.USE_SELF_HOSTED == 'true' && 'self-hosted' || 'ubuntu-latest' }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          submodules: recursive
      - name: Network Setup
        run: |
          sudo apt-get update
          sudo apt-get install -y bridge-utils
          sudo pkill docker
          sudo iptables -t nat -F
          sudo ifconfig docker0 down
          sudo brctl delbr docker0
          sudo service docker restart
      - name: Run installer
        run: |
          ./etc/DockerHelper.sh create -target=dev -os=${{ matrix.os }} -tag=latest
      - name: Build project
        run: |
          ./etc/DockerHelper.sh create -target=builder -os=${{ matrix.os }} -tag=latest
      - name: Test build
        run: |
          cmd="source ./env.sh ; yosys -help ; openroad -help ; make -C flow ;"
          docker run openroad/flow-${{ matrix.os }}-builder /bin/bash -c "${cmd}"
