name: Create draft PR for updated rules
on:
  push:
  repository_dispatch:
    types:
      - set-new-golden

jobs:
  update:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Check out repository code recursively
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install Python Packages
        run: |
          pip install firebase-admin
      - name: Execute Python Script Update
        id: execute-script
        env:
          CREDS_FILE: ${{ secrets.CREDS_FILE }}
          API_BASE_URL: ${{ secrets.API_BASE_URL }}
        run: |
          echo ${{ github.event_name }}
          echo ${{ github.event.client_payload.type }}
          if [[ "${{ github.event_name }}" == "repository_dispatch" && "${{ github.event.client_payload.type }}" == "overwrite" ]]; then
            python flow/util/updateRules.py --keyFile "${CREDS_FILE}" --apiURL ${API_BASE_URL} --overwrite > table_output.txt 2>&1
          else 
            python flow/util/updateRules.py --keyFile "${CREDS_FILE}" --apiURL ${API_BASE_URL} > table_output.txt 2>&1
          fi
      - name: Push updated rules
        id: remote-update
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          if [ -n "$(git status --porcelain)" ]; then
            echo "has_update=true" >> "$GITHUB_OUTPUT"
          else
            echo "has_update=false" >> "$GITHUB_OUTPUT"
          fi
          git add .
          git commit -m "flow: update rules based on new golden reference"
      - if: "steps.remote-update.outputs.has_update == 'true'"
        name: Create Draft PR
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ github.token }}
          signoff: true
          delete-branch: true
          title: "[BOT] Update rules"
          reviewers: |
            vvbandeira
            maliberty
          draft: true
          body-path: table_output.txt
          branch: bot-update-rules
          commit-message: |
            [BOT] Update rules
